@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-grotesk;
  }
  h1,
  h2,
  a,
  p,
  button {
    @apply capitalize;
  }
}

::-webkit-scrollbar {
  @apply w-[0.4vw];
}
::-webkit-scrollbar-track {
  @apply bg-dark-1/90;
}
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-white shadow-[inset_0_0_0.7rem] shadow-dark-2;
}
::-webkit-scrollbar-thumb:hover {
  @apply rounded-md bg-white shadow-[inset_0_0_0.4rem] shadow-gray-1;
}
.text-stroke {
  @apply z-0 text-[330px] font-bold uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #363636;
  -webkit-text-stroke-width: 1px;
}

/* navbar */
#hamburger-menu > span {
  @apply h-0.5 w-5 bg-gray-1 transition-all duration-300;
}
.hide-nav {
  @apply -right-full opacity-0;
}
.show-nav {
  @apply right-0 opacity-100;
}
.close > span:first-child,
.close > span:last-child {
  @apply -rotate-45;
}
.close > span:nth-child(2) {
  @apply rotate-45;
}
nav ul li {
  @apply relative;
}
nav ul li::after {
  @apply absolute inset-x-0 -bottom-3 mx-auto block h-1 w-0 bg-mint transition-all duration-300 content-[''];
}
nav ul li:hover::after {
  @apply w-4/5;
}

/* hero */
.hero-bg {
  @apply absolute top-0 right-0 z-0 h-full w-1/2 bg-[url(../images/hero-bg.png)] bg-right-top bg-no-repeat;
}
